/* Wikivoyage Customization */
.leaflet-control-layers-expanded {
	max-width: calc(100% - 10px);
	overflow: scroll;
}

.leaflet-control-layers-expanded label {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
}

.leaflet-control-layers-expanded .leaflet-control-layers-overlays:hover label,
.leaflet-control-layers-expanded .leaflet-control-layers-base:hover label {
	overflow-x: visible;
}

.leaflet-container .leaflet-control-container .leaflet-control-attribution {
	font-size: 10px;
	font-family: sans-serif;
	line-height: 1.6;

	background-color: rgba(255, 255, 255, 0.6);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 70%;
}

.leaflet-container .leaflet-control-container .leaflet-control-attribution:hover {
	white-space: normal;
	overflow: visible;
	text-overflow: clip;
	background-color: rgba(255, 255, 255, 0.9);
}

.leaflet-control-scale-line:not(:first-child) {
	margin-top: -1px;
}

.leaflet-control-scale.leaflet-control .leaflet-control-scale-line {
	/*background-color: rgba(255,255,255,0.9);*/
	background-color: transparent;
	font-size: 10px;
	padding: 0 5px;
	font-family: sans-serif;
}

.leaflet-control-scale.leaflet-control:hover .leaflet-control-scale-line {
	background-color: rgba(255, 255, 255, 0.6);
	border-color: black;
	border-bottom-width: none;
}

.leaflet-control-scale.leaflet-control:hover .leaflet-control-scale-line:not(:last-child) {
	border-bottom-width: 1px;
}

.leaflet-control-scale-line:last-child {
	border-top-width: 1px;
}

.mapbox-icon-nearby-active, .mapbox-icon-nearby-active:hover {
	background-color: #999999;
	border-color: #999999;
}

.leaflet-right {
	left: 50px;
}

.leaflet-right.leaflet-top {
	bottom: 20px;
	overflow: hidden;
}

.leaflet-control-container .leaflet-control .mw-kartographer-icon-nearby {
	background-image: url(https://people.wikimedia.org/~jgirault/maps/icons/nearby.svg);
	background-size: 20px;
}
